In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [38]:
model=[]
price=[]
kms=[]
fuel=[]
for i in range(1,31):
    i = str(i)
    url = "https://www.cars24.com/buy-used-maruti-suzuki-swift-dzire-cars-hyderabad/?page="+i
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html5lib') 
    l = soup.findAll('div',attrs = {'class':'_1gEgO'})
    model.append(soup.findAll('li', attrs = {'itemprop':'modelDate'}))
    price.append(soup.findAll('strong',attrs={'class':'_1_oF1'}))
    for i in l:
        s = i.findAll('li')
        s=s[2]
        kms.append(s)
    fuel.append(soup.findAll('span', attrs = {'class':'_36qGZ'}))

In [39]:
import re
km_driven =  []
for i in kms:
    i = str(i)
    km_driven.append(re.sub('[^0-9,]', "", i))

In [40]:
import re
model_yr = []
for i in model:
    for j in i:
        j=str(j)
        model_yr.append(re.sub('[^0-9,]', "", j))

In [41]:
car_price = []
for i in price:
    for j in i:
        j=str(j)
        x=re.sub('[^0-9,]', "", j)
        x=x[2:]
        car_price.append(x)

In [42]:
fuel_type = []
for i in fuel:
    for j in i:
        j=str(j)
        fuel_type.append(re.search('>(.*?)<',j).group(1))

In [43]:
dictionary = { 'model' : model_yr, 'fuel' : fuel_type, 'km_driven' : km_driven, 'resale_val' : car_price}

In [44]:
data = pd.DataFrame(dictionary)

In [45]:
data

   model    fuel km_driven resale_val
0   2015  Diesel  1,25,954   6,29,700
1   2016  Diesel  1,00,228   6,49,800
2   2015  Diesel    59,826   6,63,100
3   2010  Petrol    40,754   3,26,000
4   2015  Diesel    75,000   6,50,000
..   ...     ...       ...        ...
61  2013  Diesel    50,708   4,70,000
62  2010  Diesel  2,59,333   2,80,000
63  2015  Diesel    83,903   5,40,000
64  2014  Petrol    42,444   5,20,000
65  2017  Diesel    52,457   7,00,000

[66 rows x 4 columns]

In [46]:
data.to_csv('hyderabad.csv')

In [2]:
import mechanize
br = mechanize.Browser()
br.open("http://www.google.com/")
for f in br.forms():
    print(f)

httperror_seek_wrapper: HTTP Error 403: b'request disallowed by robots.txt'